body {
    overflow: hidden;
    background-color: rgb(255, 255, 255);
}

form {
    width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 10px;

}

input {
    width: 100%;
    margin: 10px 0;
    padding: 15px 10px;
    box-sizing: border-box;
    border-radius: 20px;
}

.spl {
    display: none;
}

input::placeholder {
    text-align: center;
    font-size: 16px;
}

.mai {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;


}

.main {
    text-align: center;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-image: url(/Assets/img/loginbg.jpg);
    background-size: cover;
    border-radius: 10px;
}

.main button {
    width: 200px;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: black;
    color: white;
    margin: 18px;
}

.main a {
    text-decoration: none;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background-color: white;
    margin: 18px;
}

.main a span {
    color: black;

}

@media screen and (max-width: 480px) {
    body {
        background-image: url(/Assets/img/loginbg.jpg);

    }

    form {
        width: 200px;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px;
        border-radius: 10px;

    }

    input {
        width: 100%;
        margin: 10px 0;
        padding: 15px 10px;
        box-sizing: border-box;
        border-radius: 20px;
    }

    input::placeholder {
        text-align: center;
        font-size: 16px;
    }

    .mai {
        display: block;
        height: 300px;
        margin: 70px 20px;


    }

    .main {
        text-align: center;
        justify-content: center;
        background-image: url(none);
        background-size: cover;
        width: 300px;


    }

    .main button {
        width: 100px;
        font-size: 16px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: black;
        color: white;
        margin: 18px;
    }

    .main span {
        display: none;
    }


}