* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(0, 0, 0); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 5px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

body{
    overflow-x: hidden;
}
.cad,.cadc:hover{
      transform: scale(1.1);
}
.navy{
 position:sticky;
      top:0;
      z-index:60;
}
.mnav{
    display: none;
}

.imghid{
    display: none;
}
input[type="text"] {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #333;
    width: 100%;
}

.subv li a:hover{
    background-color: white;
    color: blue;
}
.sign {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    padding: 8px 12px;
    text-decoration: none;
}
.sign:hover{
    background-color: white;
    color: black;
}
.log:hover{
    background-color: white;
    color: black;
}

.log {
    text-decoration: none;
    color: gray;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 12px;
}
.navbar{
    background-color: white;
    
}
.navside {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.line {
    border: 1px rgb(194, 184, 184) solid;
    height: 10px;
    margin: 0px 0px 0px 20px;
}

.bell {
    margin: 18px;
}
.bell button{
   background-color: inherit;
   color: black;
   border: none;
}



/* hero */
.cov{
    background-color: rgb(247, 249, 250);
}
.hecontainer {
    background-color: rgb(247, 249, 250);
    max-width: 1200px;
    margin: auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    height: 90vh;
    align-items: center;

}


.bline {

    border: 1px groove #e9e3e3;
}

.left-section {
    flex: 1;
    min-width: 300px;
    padding-right: 60px;

}

.right-section {
    flex: 1;
    min-width: 300px;
    border-radius: 10px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.tag {
    color: rgb(18, 140, 201);
    font-size: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    display: block;
    background-color: rgb(240, 249, 255);
    border: 0px;
    border-radius: 50px;
    padding: 5px;
    width: 220px;

}

.left-section h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    font-weight: 900;
}

.left-section p {
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 0.8em;
}

.bold {
    color: rgb(18, 140, 201);
}

.buttons a {
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
}

.explore-btn {
    background-color: rgb(2, 133, 199);
    color: white;


}

.demo-btn {
    background-color: white;
    color: black;
    border: 1px solid #ced0d2;
}

.arr {
    color: rgb(2, 133, 199);
}

.trusted {
    margin-top: 20px;
    font-size: 0.8em;
    color: #999;
}

.right-section img {
    height: 400px;
    border-radius: 20px;
}

/* Faetures */
.features {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 300px;


}

.cad img {
    height: 80px;
    width: 80px;
    border-radius: 15px;
    border: 3px inset rgb(18, 140, 201);
    margin-left: 5px;

}

.cad {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    padding: 10px;
    height: 120px;
    width: 320px;
    background-color: rgb(240, 235, 235);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cad h5 {
    font-size: 14px;
    font-weight: bold;
}

.cad p {
    font-size: 12px;
    color: rgb(25, 25, 26);
    margin-left: 0px;
}

/*  Explore Course */
.explor {
    background-color: rgb(247, 249, 250);
    max-width: 1400px;
    margin: auto;
    padding: 40px;
    height: 750px;

}

.vie {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.explor i {
    font-size: .8rem;
}

.top p {
    margin-left: 0px;
}

.butt button {
    border: 1px groove rgb(188, 188, 177);
    border-radius: 30px;
    color: rgb(123, 117, 117);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin: 0px 15px 0px 0px;
    font-size: .9rem;
    font-weight: 520;

}
.top{
    margin: 10px 30px 30px 30px;
}
.butt{
    margin: 30px;
}

.courses {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.courses img {
    height: 12rem;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.carx {
    height: 24rem;
    width: 16rem;

}

.cbody .ctext {
    font-size: .8rem;
    margin: 0px 20px 20px;
}

.cctext {
    text-align: right;
    font-size: 0.8rem;

}

small {

    background-color: rgb(230, 221, 221);
    border-radius: 6px;
    padding: 4px;

}

.cbody img {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.l1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
    padding: 10px;
}


#l1 {
    background-color: gainsboro;
    padding: 6px;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 50px;
    
}

 
.cline{
    border-bottom: 1px solid rgb(224, 210, 210);
    width: 200px;
    margin: 10px 12%;
}
 .cbo{
    display: flex;
    justify-content: space-between;
    margin: 10px 20px 0px;
    align-items: center;
}
.cbo h6{
    font-size: 12px;
}
.cbo a{
    font-size: 14px;
    text-decoration: none;
    font-weight: bold;

}
.cbo i{
    font-size: 18px;
    margin-top: 0px;
}
.cbo h5{
    margin-left: 30px;
    margin-top: 8px;
    font-size: 16px;
}



/* Comments  */

.comments {
    background-color: rgb(17, 24, 38);
    color: rgb(255, 255, 255);
    height: 320px;
    padding-top: 30px;
    padding-bottom: 16px;
}

.comments h6 {
    font-size: .7rem;
    color: rgb(171, 176, 184);
}

.comme {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 36px;

}

.cadc {
    width: 270px;
    border-radius: 15px;
    background-color: rgba(57, 54, 54, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: rgb(171, 176, 184);
    padding: 20px 20px 0px 20px;

}

.subc {
    display: flex;
    padding: 8px;


}

.ccbot h6,
p {
    margin-left: 10px;
    margin-bottom: 0px;
}

.ccbot {
    padding-bottom: 0px;
}

.subc img {
    border-radius: 50%;
    width: 30px;
    height: 30px;

}

.subc p {
    font-size: .6rem;
}

.subc h6 {
    font-size: .7rem;
    color: rgb(240, 241, 242);
    font-weight: bold;
}

.cadc h5 {
    font-size: .8rem;

}

/* learning */
.learning {
    background-image: linear-gradient(to right, rgb(80, 69, 230), rgb(146, 52, 235));
    height: 240px;
    text-align: center;
    padding-top: 50px;
    color: #f0f0f0;

}

.learning p {
    font-size: .8rem;
    margin-bottom: 20px;
    margin-top: 16px;
}

.buttt {
    background-color: rgb(255, 255, 255);
    color: rgb(79, 71, 230);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
    font-size: .8rem;
    font-weight: 500;
    margin-right: 6px;
}
.buttt a{
    text-decoration: none;
     background-color: rgb(255, 255, 255);
}
.but1 a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.but1 {
    color: rgb(255, 255, 255);
    background-color: inherit;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #f0f0f0;
    font-size: .8rem;
    font-weight: 500;
}

/* Footer  */
.footer {
    background-color: rgb(17, 24, 38);
    color: #f0f0f0;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.footer p {
    font-size: .6rem;
    color: #b8b7b7;
}


.ftop b {
    color: #f0f0f0;
}

.footer img {
    background-color: #a8a4a4;
    border-radius: 5px;
    margin-top: 10px;
}

.ftop {
    display: flex;
    gap: 30px;
}

.sec1 {
    width: 160px;
    padding: 0px;
}

.sec1 p {
    padding-top: 12px;
    margin-left: 0px;
}

.sec2 {
    width: 160px;
    padding: 0px;

}

.sec2 p {
    margin: 8px 2px;

}

.fline {
    border-bottom: .1rem solid #484141;
    width: 48rem;
    margin-top: 12px;
}

.fbot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fbot p {
    padding-top: 16px;
    color: #b8b7b7;
}

.footer i {
    background-color: rgb(41, 48, 61);
    font-size: 0.6rem;
    border-radius: 50%;
    padding: 5px;
    color: rgb(141, 147, 161);
}


/* responsive */

@media screen and (max-width: 480px) {

 .navbar-brand{
display: none;
}
.imghid{
    display:inherit;
}


.sign {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    padding: 8px 12px;
    text-decoration: none;
}

.log {
    text-decoration: none;
    color: gray;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 12px;
}
.navbar{
    background-color: white;
    
}
.navside {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

.line {
    border: 1px rgb(194, 184, 184) solid;
    height: 10px;
    margin: 0px 0px 0px 20px;
}

.bell {
    margin: 18px;
}


/* hero */

.hecontainer {
    max-width: 400px;
   
}
.right-section {
   display: none;
}

/* Faetures */
.features {
    display: block;
    height: 400px;
    margin: 30px 6%;

}

.cad {
    margin:20px auto;

}


/*  Explore Course */
.explor {
    background-color: rgb(247, 249, 250);
    max-width: 400px;
    margin: auto;
    padding: 40px;
    height: inherit;

}

.vie {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.explor i {
    font-size: .8rem;
}

.top p {
    margin-left: 0px;
}

.butt button {
    border: 1px groove rgb(188, 188, 177);
    border-radius: 30px;
    color: rgb(123, 117, 117);
    background-color: rgb(255, 255, 255);
    padding: 5px 10px;
    margin: 0px 15px 0px 0px;
    font-size: .9rem;
    font-weight: 520;

}
.top{
    margin: 10px 30px 30px 30px;
}
.butt{
    margin: 30px;
}

.courses {
    display: block;
   
}
.carx{
    margin: 30px 5%;
}



/* Comments  */

.comments {
    height: inherit;
   max-width: 500px;
}

.comments h6 {
    font-size: 12px;
   
}

.comme {
    display: block;

}

.cadc {
    width: 300px;
    margin: 20px auto;
    
}




/* learning */
.learning {
   max-width: 500px;

}

.learning p {
    font-size: 14px;
    
}


/* Footer  */
.footer {
    display: block;
    flex-direction: column;
    max-width: 500px;
    height: inherit;
    padding: 30px;
}

.footer p {
    font-size: 12pxrem;
    color: #b8b7b7;
}


.ftop {
    display: block;
    
}

.sec1 {
    width: 300px;
    padding: 0px;
    /* margin-bottom: 10px; */
    height: 150px;
}

.sec1 p {
     font-size: 14px;
}

.sec2 {
    width: 300px;

}

.sec2 p {
    margin: 8px 2px;
    font-size: 14px;
}


.fline {
    max-width: 300px;;
    
}


.footer i {
    background-color: inherit;
    font-size: 18px;
    border-radius: 0;
    padding: 5px;
    color:inherit ;
}

.navy{
    display: none;
}
.mnav{
    display: block;
    
}


input[type="text"] {
    border: none;
    background: transparent;
    outline: none;
    font-size: 14px;
    color: #333;
    width: 100%;
}


.sign {
    background-color: black;
    color: white;
    border-radius: 50px;
    font-size: 12px;
    padding: 8px 12px;
    text-decoration: none;
}
.sign:hover{
    background-color: white;
    color: black;
}
.log:hover{
    background-color: white;
    color: black;
}

.log {
    text-decoration: none;
    color: gray;
    border-radius: 50px;
    font-size: 14px;
    padding: 8px 12px;
}


.line {
    display: none;
}

.bell {
    margin: 0px;
}
.bell button{
   background-color: inherit;
   color: black;
   border: none;
}
.mnav a{
    margin: 2px 0px ;
}

.cad,.cadc:hover{
      transform: scale(1.0);
}
}